* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 350px;
  height: 320px;
  margin: 25vh auto;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

.login__title {
  font-size: 32px;
  line-height: 40px;
  color: #0f466e;
  font-weight: 600;
  margin-bottom: 8px;
}

.login__sub-title {
  font-size: 16px;
  color: #abc5d3;
  margin: 6px 0 16px 0;
}

.login__inputs-container {
  display: flex;
  flex-direction: column;
}

.login__input-field {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #abc5d3;

  padding-left: 18px;
  margin: 12px 0 3px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__input-field:focus-within {
  border: 2px solid #f681289f;
}

.login__icon {
  color: #abc5d3;
}

.login__input {
  height: 35px;
  width: 88%;
  border: none;
  outline: none;
  padding-top: 2px;
  font-size: 16px;
  line-height: 22px;
  color: #0f466e;
}

.login__input::placeholder {
  color: #abc5d3;
  background: #fff;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}

.login__invalid-text {
  float: left;
  color: #0f466e;
  font-size: 13px;
  font-weight: bold;
  margin: 2px 0 8px 0;
}

.login__btn {
  height: 40px;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
  background: #f68228;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.login__btn:hover {
  background: #db7324;
}

.not-visible {
  visibility: hidden;
}

.border-error {
  border: 2px solid red;
}
